.home {
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 50px 80px;
}

.home .home-img {
    max-width: 490px;
    order: 1;
}

.home .home-img img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #39ff14;
}

.home .home-text {
    color: #f9f9f9;
    max-width: 450px;
}

.home .home-text h1 {
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 30px;
}

.home .home-text h1 span {
    color: #39ff14;
    border-bottom: 5px solid #39ff14;
}


.home .home-text p {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 30px;
}

.home .home-text a {
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: #f9f9f9;
    padding-bottom: 10px;
    border-bottom: 5px solid #39ff14;
    transition: 0.4s ease-in-out;
}

.home .home-text a:hover {
    color: #39ff14;
}