.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    /* margin: 50px 100px; */
    width: 100vw;
  }

  .cabecalho .logo a {
    text-decoration: none;
   }
  
  .cabecalho .logo a h3 {
    font-size: 30px;
    font-weight: 400;
    margin: 30px 80px;
    transition: 0.2s ease-in-out;
    color: #f9f9f9;
    
  }
  
  .cabecalho .logo a:hover h3 {
    color: #39FF14;
    transform: scale(1.05);
  }

  .cabecalho .redes {
    margin-right: 80px;
  }
  
  .cabecalho .redes ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 30px;
    list-style: none;
  }
  
  .cabecalho .redes ul li a i, .roda-pe .redes ul li a i {
    font-size: 30px;
    transition: 0.2s ease-in-out;
    color: #f9f9f9;
  }
  
  .cabecalho .redes ul li a:hover i, .roda-pe .redes ul li a:hover i {
    color: #39FF14;
    transform: scale(1.15); 
  }